--allow-external picklable-itertools
--allow-unverified picklable-itertools
git+https://github.com/dwf/picklable_itertools.git#egg=picklable-itertools

--allow-external fuel
--allow-unverified fuel
git+https://github.com/bartvm/fuel#egg=fuel

--allow-external theano
--allow-unverified theano
git+https://github.com/Theano/Theano.git#egg=theano

markupsafe
sphinxcontrib-napoleon==0.2.9
