numpy==1.10.4
picklable-itertools==0.1.1
progressbar2==3.6.2
pyyaml==3.11
six==1.10.0
toolz==0.7.4

--allow-external theano
--allow-unverified theano
git+https://github.com/Theano/Theano.git#egg=theano

--allow-external fuel
--allow-unverified fuel
git+https://github.com/mila-udem/fuel#egg=fuel
