numpy==1.12.1
picklable-itertools==0.1.1
progressbar2==3.16.0
pyyaml==3.12
six==1.10.0
toolz==0.8.2

--allow-external theano
--allow-unverified theano
git+https://github.com/Theano/Theano.git#egg=theano

--allow-external fuel
--allow-unverified fuel
git+https://github.com/mila-udem/fuel#egg=fuel
